<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#parse("/WEB-INF/vm/common/head.vm")
 <body id="mainframe">

#parse("/head/head_todo.vm")

$screen_content
#parse("/WEB-INF/vm/common/bottom.vm")
 #parse("/bottom/bottom_todo.vm")
 <script type="text/javascript" src="http://misc.todoimg.com/201007/js/jd.lib.js"></script>
</body>
</html>

 