<?xml version="1.0" encoding="gbk"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <profiles>
        <profile>
            <id>production</id>
            <properties>
                <todo.log.level>debug</todo.log.level>
                <!-- 开始 第八部分: 开发框架配置，发布人修改 -->
                <!--struts的运行模式。生产环境要改为false-->
                <todo.struts.devMode>true</todo.struts.devMode>
                <!--velocity的宏是否重新载入。生产环境要改为false-->
                <todo.velocity.macro.autoreload>false</todo.velocity.macro.autoreload>
                <todo.velocity.cache>true</todo.velocity.cache>
                <todo.velocity.cache.time>10</todo.velocity.cache.time>
                <todo.log.path>/var/log/tomcat6-web/</todo.log.path>
                <!-- 结束 第八部分: 开发框架配置，发布人修改 -->
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>production</activeProfile>
    </activeProfiles>

 </settings>
