#set($layout = "/layout/default.vm") ##选择布局页面
#set($page_title ="我的任务列表")
#set($name = "myTodoList")


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>简单任务列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="个人的任务列表">
    <meta name="author" content="张坦">

    <!-- Le styles -->
##    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
##    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
</head>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="thumbnail">
                #if($!userInfo.headPic)
                    <img src="$userInfo.headPic" id="imgSrc" alt="" class="">
                #else
                    <img src="http://placehold.it/160x120" id="imgSrc" alt="" class="thumbnail">
                #end

            </div>
            <div class="well sidebar-nav">
                <ul class="nav nav-list" id="ctxList">
                    <li class="nav-header">
                        任务列表
                    </li>
                    #foreach($context in $contextList)
                        <li #if($context.defaultActive)
                                class="active"
                        #end
                                ctxid="$context.id"
                                >
                            <a href="#">$context.name</a>
                        </li>
                    #end
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span6">

            <div id="addContent" style="margin-bottom: 20px;">
                <input type="text" class="input-xlarge search-query" id="todoContent">
                <button type="submit" class="btn" id="add">添加</button>
            </div>

            <div style="height: 40px">
                <div class="alert alert-success" id="rs" style="display: none;">
                </div>
            </div>
            <div id="todoListContent">




                #if($todoList)
                    <table class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                        <th width="30px">标记</th>
                        <th>内容</th>
                        <th>操作</th>
                        </thead>
                        <tbody id="todo-content">
                            #foreach($todo in $todoList)
                            <tr>
                                <td todoId="$!todo.todoId"></td>
                                <td>$!todo.content</td>
                                <td><a href="#"><i class="icon-remove-sign  delTodo"></i></a>
                                    <a href="#"><i class="icon-ok  finishTodo"></i></a></td>

                            </tr>
                            #end
                        </tbody>
                    </table>
                #end








            </div>


            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>
            &copy; zt集团 2013
        </p>
    </footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script src="/js/bootstrap-alert.js"></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>
<script src="/js/bootstrap-scrollspy.js"></script>
<script src="/js/bootstrap-tab.js"></script>
<script src="/js/bootstrap-tooltip.js"></script>
<script src="/js/bootstrap-popover.js"></script>
<script src="/js/bootstrap-button.js"></script>
<script src="/js/bootstrap-collapse.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/bootstrap-typeahead.js"></script>
</body>

<script>


    jQuery(function ($) {

        var getActiveCtx = function () {
            var ctx;
            $("#ctxList").find("li").each(function (i) {
                if ($(this).hasClass("active")) {
                    ctx = $(this).attr("ctxid");
                }
            });
            return ctx;
        };


        $("#add").click(function () {
            var btn = $("#add");
            btn.button('loading');
            var todoContent = $("#todoContent").val();
            var rsContent = $("#rs");
            rsContent.empty();
            var ctxId = getActiveCtx();
            $.ajax({
                async: true,
                cache: false,
                url: "addTodo?content=" + todoContent + "&ctxId=" + ctxId,
                type: 'post',
                success: function (data) {
                    var addContent = "\<tr>\<td todoId=" + data + ">\</td>\<td>" + todoContent + "\</td>\<td>\<a href=\"#\"><i class=\"icon-remove-sign  delTodo\">\</i>\ <a href=\"#\"><i class=\"icon-ok finishTodo\"></i></a></td></tr>\")";
                    $("#todo-content").prepend(addContent);
                    rsContent.css("display", "block");
                    if (data != null) {
                        rsContent.addClass("alert alert-success");
                        rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>添加成功!\</strong> ');
                    } else {
                        rsContent.addClass("alert alert-error");
                        rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>添加失败!\</strong> ');
                    }
                },
                error: function () {
                    rsContent.css("display", "block");
                    rsContent.addClass("alert alert-error");
                    rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>服务器异常!\</strong> ');
                }
            });
            btn.button('reset');//将按钮状态初始化到最初
            rsContent.fadeOut(1000);
        });


        $(".delTodo").live("click", function () {
            var thisTr = $(this).parent().parent().parent();
            var todoId = thisTr.find("td").eq(0).attr("todoid");
            var rsContent = $("#rs");
            rsContent.empty();
            var ctxId = getActiveCtx();
            $.ajax({
                async: true,
                cache: false,
                url: "delTodo?todoId=" + todoId,
                type: 'post',
                success: function (data) {
                    rsContent.css("display", "block");
                    if (data != null && data == "OK") {
                        rsContent.addClass("alert alert-success");
                        rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>删除成功!\</strong> ');
                        thisTr.remove();
                    } else {
                        rsContent.addClass("alert alert-error");
                        rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>删除失败!\</strong> ');
                    }
                },
                error: function () {
                    rsContent.css("display", "block");
                    rsContent.addClass("alert alert-error");
                    rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>服务器异常!\</strong> ');
                }
            });
            rsContent.fadeOut(1000);
        });


        $(".finishTodo").live("click", function () {
            var thisTr = $(this).parent().parent().parent();
            var todoId = thisTr.find("td").eq(0).attr("todoid");
            var rsContent = $("#rs");
            rsContent.empty();
            var ctxId = getActiveCtx();
            $.ajax({
                async: true,
                cache: false,
                url: "modifyTodo?todoId=" + todoId + "&todoStatus=2",
                type: 'post',
                success: function (data) {
                    rsContent.css("display", "block");
                    if (data != null && data == "OK") {
                        rsContent.addClass("alert alert-success");
                        rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>任务已完成!\</strong> ');
                        thisTr.remove();
                    } else {
                        rsContent.addClass("alert alert-error");
                        rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>修改任务状态时间!\</strong> ');
                    }
                },
                error: function () {
                    rsContent.css("display", "block");
                    rsContent.addClass("alert alert-error");
                    rsContent.append(' \<button data-dismiss="alert" class="close" type="button"\>×</button\>\<strong>服务器异常!\</strong> ');
                }
            });
            rsContent.fadeOut(1000);
        });


    })
</script>
</html>
