<?xml version="1.0" encoding="gbk"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd



				        http://cxf.apache.org/jaxws
				        http://cxf.apache.org/schemas/jaxws.xsd"
       default-autowire="byName">


    <!-- Todo order query service bean -->
    <bean id="orderInfoService" class="com.easytodo.com.service.order.impl.OrderInfoServiceImpl"/>


  
</beans>